@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPadrao.cshtml";
}

@if (TempData["Sucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        Imagem enviada com sucesso!
    </div>
}

@if (TempData["Erro"] != null)
{
    <div class="alert alert-warning" role="alert">
       Algo deu errado
    </div>
}

@using (Html.BeginForm("Index", "Image", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label for="image">Suba Sua Imagem</label>
        <input type="file" class="form-control-file" id="image" name="image">
    </div>
    <input class="btn btn-lg btn-secondary" type="submit" name="name" value="Enviar" style="margin-top: 20px;" />
}

